#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.Overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Modal {
  outline: none;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  min-width: 320px;
  max-width: 90%;
  height: auto;
  min-height: 240px;
  max-height: 90%;
  padding: 0;
  background-color: black;
  border: none;
  border-radius: 0;
}
